name: Build and Publish Documentation to GitHub Pages
on:
  push:
    branches:
      - master
    paths:
      # Only rebuild documentation when docs have changed
      - "docs/**"
      - ".github/workflows/publish_mkdocs.yml"
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.13
          publish_branch: gh-pages
      - name: Install Dependencies
        run: |
          pip install mkdocs-material==8.5.11 mkdocs-jupyter==0.22.0 neoteroi-mkdocs==0.1.2 mkdocs-awesome-pages-plugin==2.9.2

      - name: Deploy Documentation
        run: python -m mkdocs  gh-deploy --force -f mkdocs.yml